@import url(app_view.css); /*when importing, include semi-colon at the end of each imports!!*/

#side-tab {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -300px;
    padding-top: 90px;
    background-color: #dad2c9;
    /*for transition eme eme slidee*/
    transition: left 1s ease-in-out;
    box-shadow: 5px 0 15px rgba(0,0,0,0.3);
    z-index: 1000; /*so that it stays on top of most of the things except the header, which has a z-index of 1001*/
}

#side-tab-toggle:checked ~ #header .hamburger {
    color: #444;
    transform: rotate(90deg); /* Rotates the ☰ icon when open */
}

#side-tab-toggle:checked ~ #side-tab {
    left: 0;
}

#side-tab nav {
    margin-top: -50px;
}

#side-tab-toggle:checked ~ #contents .context{
    transform: translateX(300px);
}

#side-tab nav a {
    text-decoration: none; /* This removes the underline */
    color: #444;           /* Changes them from blue to your theme color */
    display: block;        /* Makes the whole line clickable, not just the text */
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 15px 25px;    /* Adds space so they look like buttons */
    font-size: 18px;
    transition: background 0.3s ease; /* Smooth hover effect */
}