{% extends 'merchstore/merchstore_base.html' %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        <div class="merch-contents">
                <a href="{% url "merchstore:merchstore-create" %}">Create a new product</a>
                <h2>Your Products</h2>
                {% if my_products %}
                    <ul>
                        {% for product in my_products %}
                            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h2>All Products</h2>
                <ul>
                        {% for product in all_products %}
                            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
                        {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}