{% extends 'merchstore/merchstore_base.html' %}
{% load static %}

{% block contents %}
    <link rel="stylesheet" href="{% static 'css/update_merchstore.css' %}">
    <div class="contents-container">
        <form method="POST" enctype="multipart/form-data" class="product-update-form">
            <h2 class="page-title"><b>{{ product.name }}</b></h2>

            {% csrf_token %}
            <div class="name-category-container">
                {{ form.name }} 
                <label>Type:</label> {{ form.product_type }}
            </div>
            <div class="description-container">
                {{ form.description }}
            </div>
            <div class="stock-price-container">
                {{ form.stock }}
                {{ form.price }}
            </div>
            <div class="availability-container">
                <label>Status:</label> {{ form.status}}      
            </div>
            <div class="image-container">
                {{ form.product_image }}
            </div>
            <button type="submit" class="form-button">Update Product</button>
            <a href="{% url 'merchstore:merchstore-list' %}" class="other-button">Look for Other Products</a>
        </form>
    </div>
{% endblock %}