{% extends 'merchstore/merchstore_base.html' %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        
        <div class="merch-contents">
            
            <div class="merch-product-image">
                {% if object.product_image %}
                <img src="{{object.product_image.url}}" alt="Product Image">
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>

            <div class="merch-specifics">
                <h3 class="merch-name">{{object.name}}</h3>
                <hr class="hr-line"></hr>
                <div class="merch-tags">
                    <p class="product-type">{{object.product_type}}</p>
                    <p class="middot">&#x2022;</p>
                    <p class="product-price"><strong class="price-tag">Price |</strong>Php {{object.price}}</p>
                    <p class="product-stock"><strong class="price-tag">Stock |</strong> {{ object.stock }}</p>
                </div>
                <p class="description">Description</p>
                <div class="description-wrapper">
                    <hr class="vr-line">
                    <p class="product-description">{{ object.description }}</p>
                </div>

                <div class="redirect-buttons">
                    {% if not is_owner %}
                        <form method = "post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" {% if object.stock == 0 %}disabled{% endif %}>
                                Buy Now
                            </button>
                        </form>
                    {% endif %}
                    {% if is_owner %}
                        <a href="{% url "merchstore:merchstore-update" object.id %}">Edit Product</a>
                    {% endif %}
                    <a href="{% url 'merchstore:merchstore-list' %}" class="see-more-merch">See More Merch</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}