{% extends 'topbar.html' %}
{% load static %}

{% block header %}
    <div class="app-title-container">
        <h2 class="app-title"><b>Merchandise Store</b></h2>
        
        <div class="app-nav">
            {% if user.is_authenticated %}
                <a href="{% url "merchstore:merchstore-cart" %}" class="auth-button">My Cart</a>
                <a href="{% url "merchstore:merchstore-transactions" %}" class="auth-button">My Transactions</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block contents %}
{% endblock %}