{% extends 'localevents/event_base.html' %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        <div>
            <h3><b>{{ event.title }}</b></h3>
            <div>
                <b>Category:</b> {{event.category}} <br>
                <b>Description:</b> {{event.description}} <br>
                <b>Location:</b> {{event.location}} <br>
                <b>Start Time:</b> {{event.start_time}} <br>
                <b>End Time:</b> {{event.end_time}} <br>
            </div>


            <br>
            <i>Interested in another event?</i>
            <a href="/localevents/events">See more local events.</a>
        </div>
    </div>
{% endblock %}