{% extends 'localevents/event_base.html' %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        {% if user.is_authenticated %}
        <div>
            <h2>My Dashboard</h2>
            <h3>Your Events</h3>
            <ul>
                {% for event in organized_events %}
                <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
                {% empty %}
                <li>You haven't organized any eveants.</li>
                {% endfor %}
            </ul>

            <h3>Events Signed Up</h3>
            <ul>
                {% for event in signed_up_events %}
                <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
                {% empty %}
                <li>You haven't signed up for any events.</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div>
            <h2>Upcoming Events</h2>
            <ul>
                {% for event in all_events %}
                <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
                {% empty %}
                <li>No Upcoming Events.</li>
                {% endfor %}
            </ul>
            {% if user.is_authenticated and user.profile.role == 'Event Organizer' %}
            <a href="{% url 'localevents:event_create' %}" class="btn-success">Create an Event</a>
            {% endif %}
        </div>
    </div>
{% endblock %}