{% extends 'bookclub/book_base.html' %}
{% load static %}

{% block contents %}
    <link rel="stylesheet" href="{% static 'css/borrow_bookclub.css' %}">

    <div class="contents-container">
        <div class="form-card">
            <h2 class="form-title">Borrow this book?</h2>

            <div class="book-summary">
                <p><b>Title:</b> {{ book.title }}</p>
                <p><b>Author:</b> {{ book.author }}</p>
                <p><b>Genre:</b> {{ book.genre }}</p>
                <p><b>Publication Year:</b> {{ book.publication_year }}</p>
            </div>

            <hr class="divider">

            <form method="post" class="book-form">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="form-actions">
                    <button type="submit" class="btn-primary">Confirm Borrow</button>
                    <a href="{{ book.get_absolute_url }}" class="btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}