{% extends 'bookclub/book_base.html' %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        <div>
            <h3><b>{{ book.title }}</b></h3> 
            <div>
                <b>Genre:</b> {{book.genre}} <br>
                <b>Author:</b> {{book.author}} <br>
                <b>Publication Year:</b> {{book.publication_year}}
            </div>
            <br>Created on {{ book.created_on }}
            <br>Last updated on {{ book.updated_on }}
        </div>

        <br>
        <i>Looking for another book?</i>
        <a href="/bookclub/books">See more books.</a>
    </div>
{% endblock %}