{% extends 'bookclub/book_base.html' %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        <div>
            <h3>{{ book.title }}</h3>
            <p><b>Author:</b> {{ book.author }}</p>
            <p><b>Genre:</b> {{ book.genre }}</p>
            <p><b>Synopsis:</b> {{ book.synopsis }}</p>
            <p><b>Publication Year:</b> {{ book.publication_year }}</p>
            <p><b>Available to Borrow:</b> {{ book.available_to_borrow }}</p>

            {% if is_contributor %}
                <a href="{% url 'bookclub:book_update' pk=book.pk %}">Edit Book</a>
            {% endif %}
        </div>

        <hr>

        <div>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="bookmark">
                <button type="submit">
                    {% if is_bookmarked %} Unbookmark {% else %} Bookmark {% endif %}
                </button>
            </form>
            <p>{{ bookmark_count }} bookmark{{ bookmark_count|pluralize }}</p>
        </div>

        <hr>

        <div>
            <a href="{% url 'bookclub:book_borrow' pk=book.pk %}">Borrow this Book</a>
        </div>

        <hr>

        <div>
            <h4>Leave a Review</h4>
            <form method="post">
                {% csrf_token %}
                {{ review_form.as_p }}
                <button type="submit">Submit Review</button>
            </form>
        </div>

        <hr>

        <div>
            <h4>Reviews</h4>
            <ul>
                {% for review in reviews %}
                    <li>
                        <b>{{ review.title }}</b> by
                        {% if review.user_reviewer %}
                            {{ review.user_reviewer }}
                        {% else %}
                            Anonymous
                        {% endif %}
                        <p>{{ review.comment }}</p>
                    </li>
                {% empty %}
                    <li>No reviews yet.</li>
                {% endfor %}
            </ul>
        </div>

        <br>
        <a href="{% url 'bookclub:book_list' %}">Back to all books</a>
    </div>
{% endblock %}


<!--
        <div>
            <h3><b>{{ book.title }}</b></h3> 
            <div>
                <b>Genre:</b> {{book.genre}} <br>
                <b>Author:</b> {{book.author}} <br>
                <b>Publication Year:</b> {{book.publication_year}}
            </div>
            <br>Created on {{ book.created_on }}
            <br>Last updated on {{ book.updated_on }}
        </div>

        <br>
        <i>Looking for another book?</i>
        <a href="/bookclub/books">See more books.</a>
-->