{% extends 'bookclub/book_base.html' %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        {% if user.is_authenticated %}
            <h2 style="margin-bottom: 8px;">Books You Contributed</h2>
            <ul>
                {% for book in contributed_books %}
                    <li>{{ book.title }} | <a href="{{ book.get_absolute_url }}">Details</a></li>
                {% empty %}
                    <li>You have not contributed any books.</li>
                {% endfor %}
                {% if user.is_authenticated and user.profile.role == 'Book Contributor' %}
                    <li><a href="{% url 'bookclub:book_create' %}">Add a new book</a></li>
                {% endif %}
            </ul><br><br>

            <h2 style="margin-bottom: 8px;">Books You Bookmarked</h2>
            <ul>
                {% for book in bookmarked_books %}
                    <li>{{ book.title }} | <a href="{{ book.get_absolute_url }}">Details</a></li>
                {% empty %}
                    <li>You have not bookmarked any books.</li>
                {% endfor %}
            </ul><br><br>

            <h2 style="margin-bottom: 8px;">Books You Reviewed</h2>
            <ul>
                {% for book in reviewed_books %}
                    <li>{{ book.title }} | <a href="{{ book.get_absolute_url }}">Details</a></li>
                {% empty %}
                    <li>You have not reviewed any books.</li>
                {% endfor %}
            </ul><br><br>
        {% endif %}

        <h2 style="margin-bottom: 8px;">All Books</h2>
        <ul>
            {% for book in all_books %}
                <li>{{ book.title }} | <a href="{{ book.get_absolute_url }}">Details</a></li>
            {% empty %}
                <li>No books available.</li>
            {% endfor %}
        </ul><br>
    </div>
{% endblock %}