{% extends 'topbar.html' %}

{% block header %}
    <div class="app-title-container"><ul>
        <h2 class="app-title"><b>Book Club</b></h2></ul>
    </div>
{% endblock %}

{% block contents %}
{% endblock %}

<!--
TODO: 
    - fix profile and user problem
    - improve book_create and book_update
    - sypnosis default bug (?)

LIST OF QUESTIONS:
    - by automatically filling out the name entry, do you mean that the name 
    field in the form shouldnt be editable or visible anymore to the user, or 
    is it still editable even when youre logged in?
    - is the link to the create book still accessible to logged in users even 
    if they dont have the role of Book Contributor? and why is the Books you
    contributed section still visible to any logged in user even if they dont
    have access to book creation in the first place if they dont have the role?
    - will the book be unavailable to borrow if its within the date it was borrowed
    and returned? and does this mean we should assume that the book is automatically
    returned by the date?
-->