{% extends 'base.html' %}
{% load static %}

{% block home %}
    <link rel="stylesheet" href="{% static 'css/complete_password_reset.css' %}">
    <div class="fullscreen-center">
        <div class="box-container">
            <div class="layer-1-logo">
                <div class="layer-2-logo">
                    <div class="logo-container">
                        <a href="/"><img src="{% static 'images/logo.png' %}" alt="Common Grounds Logo" class="logo"></a>
                        <p id="welcome-message"><b>Welcome back to Common Grounds!</b>
                            <br>Update your password below.</p>
                    </div>
                </div>
            </div>

            <div class="login-register-container"> 
                <h2 class="form-title">PASSWORD RESET COMPLETE</h2>
                <p class="form-description">Your password has been successfully reset.</p>

                <div class="password-reset-form">
                    <p><a href="{% url 'accounts:login' %}" class="auth-button">Login</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}