{% extends 'base.html' %}
{% load static %}

{% block home %}
    <link rel="stylesheet" href="{% static 'css/confirm_password_reset.css' %}">
    <div class="fullscreen-center">
        <div class="box-container">
            <div class="layer-1-logo">
                <div class="layer-2-logo">
                    <div class="logo-container">
                        <a href="/"><img src="{% static 'images/logo.png' %}" alt="Common Grounds Logo" class="logo"></a>
                        <p id="welcome-message"><b>Welcome back to Common Grounds!</b>
                            <br>Update your password below.</p>
                    </div>
                </div>
            </div>

            <div class="login-register-container"> 
                <h2 class="form-title">PASSWORD RESET CONFIRMATION</h2>

                {% if validlink%}
                    <p class="form-description">Enter your new password below.</p>
                    <form method="post" class="password-reset-form">
                        {% csrf_token %}

                        <div class="field-error-container">
                            {% if form.errors %}
                                <div class="login-error">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="field-container">
                            {{ form.new_password1 }}
                            <br>
                            Re-enter new password:
                            <br>
                            {{ form.new_password2 }}
                        </div>

                        <input type="submit" value="Change password" class="auth-button">
                    </form>
                {% else %}
                    <p class="form-description">Invalid password reset link!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}