{% extends "commissions/commission_base.html" %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        <h2> Created Commissions </h2>
        <ul>
            {% for commission in created_commissions %}
                <h3>{{commission.title}}</h3>
                <li> 
                    <a href='{{ commission.get_absolute_url }}'>
                        <button type="button">{{commission.title}} Details</button>
                    </a> 
                </li>
                <p>{{commission.get_status_display}}</p>
            {% endfor %}
        </ul>
        <br>
        <br>
        <h2> Applied Commissions </h2>
        <ul>
            {% for commission in applied_commissions %}
                <h3>{{commission.title}}</h3>
                <li> 
                    <a href='{{ commission.get_absolute_url }}'>
                        <button type="button">{{commission.title}} Details</button>
                    </a> 
                </li>
                <p>{{commission.get_status_display}}</p>
            {% endfor %}
        </ul>
        <br>
        <br>
        <h2> Other Commissions </h2>
        <ul>
            {% for commission in other_commissions %}
                <h3>{{commission.title}}</h3>
                <li> 
                    <a href='{{ commission.get_absolute_url }}'>
                        <button type="button">{{commission.title}} Details</button>
                    </a> 
                </li>
                <p>{{commission.get_status_display}}</p>
            {% endfor %}
        </ul>
        <br>
        <br>

        {% if user.profile.role == 'Commission Maker' %}
            <a href="/commissions/request/add"> 
                <button type="button">Create Commission</button>
            </a>
        {% endif %}
    </div>
{% endblock %}