{% extends "commissions/commission_base.html" %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        <h3> {{commission.title}} </h3>
        <ul>
            <li>Creator: {{commission.maker.display_name}}</li>
            <li>Description: {{commission.description}}</li>
            <li>Number of People Required: {{commission.people_required}}</li>
            <li>Status: {{commission.get_status_display}}</li>
            <li>Created on: {{commission.created_on}}</li>
            <li>Updated on: {{commission.updated_on}}</li>
        </ul>

        <br>
        <br>

        <h2> Jobs Needed </h2>
        <ul>
            {% for job in jobs %}
                <li>{{job.role}}</li>

                {% if user.is_authenticated %}
                    {% if is_applied %}
                        <button type="button" disabled> You already Applied For a Job</button>
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="job_id" value="{{ job.pk }}">
                            <button type="submit" name="apply_to_job">Apply Job</button>
                        </form>
                    {% endif %}
                {% else %}
                    <button type="button" disabled>Apply Job</button>
                {% endif %}
            {% endfor %}
        </ul>

        {% if user.profile == commission.maker %}
            <a href="{{commission.get_edit_url}}">
                <button type="button">Edit Commission</button>
            </a>
        {% endif %}
            
        <a href="/commissions/requests/">
            <button type="button">Back to Commission</button>
        </a>
    </div>
{% endblock %}