{% extends "commissions/commission_base.html" %}
{% load static %}

{% block contents %}
    <div class="contents-container">
        <h2> Created Commissions </h2>
        <ul>
            {% for request in requests %}
                <h3>{{request.title}}</h3>
                <li> <a href='{{ request.get_absolute_url }}'>{{request.title}}_details</a> </li>
            {% endfor %}
        </ul>
        <br>
        <br>
        <h2> Applied Commissions </h2>
        <ul>
            {% for request in requests %}
                <h3>{{request.title}}</h3>
                <li> <a href='{{ request.get_absolute_url }}'>{{request.title}}_details</a> </li>
            {% endfor %}
        </ul>
        <br>
        <br>
        <h2> Other Commissions </h2>
        <ul>
            {% for request in requests %}
                <h3>{{request.title}}</h3>
                <li> <a href='{{ request.get_absolute_url }}'>{{request.title}}_details</a> </li>
            {% endfor %}
        </ul>
        <br>
        <br>
        
    </div>
{% endblock %}